.odos-loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
}

.odos-loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.odos-loader {
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
  }

  &:before {
    animation: before 2s infinite;
  }

  &:after {
    animation: after 2s infinite;
  }
}

.odos-loading-tip {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  margin-top: 32px;
  font-weight: bold;
  text-shadow:
    0 0 2px rgba(0, 0, 0, 0.75),
    0 1px 1px rgba(0, 0, 0, 0.75),
    1px 0 1px rgba(0, 0, 0, 0.75),
    -1px 0 1px rgba(0, 0, 0, 0.75);
}

.odos-loading-text {
  margin-top: 32px;
  color: #34495e;
  font-size: 16px;
  font-weight: bold;
}

@keyframes before {
  0% {
    width: 0.5em;
    box-shadow:
      1em -0.5em rgba(220, 105, 34, 0.75),
      -1em 0.5em rgba(28, 89, 160, 0.75);
  }

  35% {
    width: 2.5em;
    box-shadow:
      0 -0.5em rgba(220, 105, 34, 0.75),
      0 0.5em rgba(28, 89, 160, 0.75);
  }

  70% {
    width: 0.5em;
    box-shadow:
      -1em -0.5em rgba(220, 105, 34, 0.75),
      1em 0.5em rgba(28, 89, 160, 0.75);
  }

  100% {
    box-shadow:
      1em -0.5em rgba(220, 105, 34, 0.75),
      -1em 0.5em rgba(28, 89, 160, 0.75);
  }
}

@keyframes after {
  0% {
    height: 0.5em;
    box-shadow:
      0.5em 1em rgba(50, 162, 148, 0.75),
      -0.5em -1em rgba(243, 212, 38, 0.75);
  }

  35% {
    height: 2.5em;
    box-shadow:
      0.5em 0 rgba(50, 162, 148, 0.75),
      -0.5em 0 rgba(243, 212, 38, 0.75);
  }

  70% {
    height: 0.5em;
    box-shadow:
      0.5em -1em rgba(50, 162, 148, 0.75),
      -0.5em 1em rgba(243, 212, 38, 0.75);
  }

  100% {
    box-shadow:
      0.5em 1em rgba(50, 162, 148, 0.75),
      -0.5em -1em rgba(243, 212, 38, 0.75);
  }
}
