.odos-table {
  width: 100%;
  :deep .ant-table {
    * {
      border: none !important;
      border-inline-end: none !important;
    }
    .ant-table-container {
      table {
        .ant-table-thead {
          .ant-table-cell {
            background-color: #f1f5ff;
          }
        }
        tr {
          td,
          th {
            .ant-checkbox {
              border: 1px solid #d9d9d9 !important;
              border-radius: 4px;
            }
          }
        }
        .odos-table-even-row {
          background-color: #fff;
          .ant-table-cell {
            background-color: #fff;
          }
          .ant-table-cell-row-hover {
            transition: all 0.8s;
            background-color: #f2f3f5;
          }
        }
        .odos-table-odd-row {
          background-color: #f8faff;
          .ant-table-cell {
            background-color: #f8faff;
          }
          .ant-table-cell-row-hover {
            transition: all 0.8s;
            background-color: #f2f3f5;
          }
        }
      }
    }
  }
}
