.odos-table {
  width: 100%;
  .ant-table {
    .ant-table-container {
      table {
        * {
          border: none !important;
          border-inline-end: none !important;
        }
        tr {
          .ant-table-cell-fix-left::after,
          .ant-table-cell-fix-right::after {
            border-inline-end: none !important;
          }
          &:nth-child(2n) {
            &:hover {
              .ant-table-cell-fix-left,
              .ant-table-cell-fix-right {
                background-color: #fafafa;
                &::after {
                  border-inline-end: none !important;
                }
              }
            }
            background-color: #f8faff;
            .ant-table-cell-fix-left,
            .ant-table-cell-fix-right {
              border-inline-end: none !important;
              background-color: #f8faff;
              &::after {
                border-inline-end: none !important;
              }
            }
          }
          &:nth-child(2n - 1) {
            background-color: #fff;
          }
          td,
          th {
            .ant-checkbox {
              border: 1px solid #d9d9d9 !important;
              border-radius: 4px;
            }
          }
        }

        .ant-table-thead {
          .ant-table-cell {
            background-color: #f1f5ff;
          }
        }
        .ant-table-tbody > tr.ant-table-row-selected {
          & > td {
            background: #fff;
          }
          &:nth-child(2n) > td {
            background: #f1f5ff;
          }
        }
      }
    }
  }
}
