.odos-textarea {
  width: 100%;
  height: 100%;
  :deep .ant-input {
    border-color: transparent;
    background: #f2f3f5;
    &:hover {
      background: #e5e6eb;
      border-color: transparent;
    }
    &:focus-within {
      border: 1px solid #2e6ce4;
      background: #fff;
    }
    &:focus {
      box-shadow: none;
    }
  }
}
